{% extends 'base.html' %}

{% block container %}
<div class="clinica-psicologia">
    <h1>Clínica de Psicología</h1>
    <p>
        En nuestra clínica de psicología, ofrecemos una amplia gama de servicios para ayudar a mejorar la salud mental y el bienestar de nuestros pacientes.
    </p>
    <p>
        Nuestro equipo de psicólogos altamente calificados y experimentados está aquí para brindar apoyo y tratamiento para una variedad de desafíos emocionales y de salud mental.
    </p>
    <p>
        En la clínica, nos especializamos en:
    </p>
    <ul>
        <li>Terapia individual</li>
        <li>Terapia de pareja</li>
        <li>Terapia familiar</li>
        <li>Tratamiento de trastornos de ansiedad</li>
        <li>Tratamiento de depresión</li>
        <!-- Agrega más servicios o información relevante aquí -->
    </ul>
    <p>
        Nuestra misión es brindar un entorno seguro y de apoyo para todos nuestros pacientes, y trabajamos en colaboración con ellos para abordar sus necesidades específicas y metas de tratamiento.
    </p>
</div>
{% endblock %}
