{% extends 'base.html' %}

{% block container %}
<div class="TerminosPrivacidad">
    <h1>{{ title }}</h1>
    <p>
        Bienvenido a nuestra página de Términos y Privacidad. Aquí encontrarás información importante sobre cómo manejamos tus datos y otros aspectos relacionados con la privacidad y el uso de nuestro sitio web.
    </p>
    <h2>Términos de Uso</h2>
    <p>
        Por favor, lee atentamente nuestros términos de uso antes de utilizar nuestros servicios. Al utilizar nuestro sitio, estás aceptando estos términos y condiciones.
    </p>
    <h2>Política de Privacidad</h2>
    <p>
        Respetamos tu privacidad y protegemos tus datos personales. Nuestra política de privacidad describe cómo recopilamos, utilizamos y protegemos tu información.
    </p>
    <h2>Cookies</h2>
    <p>
        Utilizamos cookies en nuestro sitio web para mejorar la experiencia del usuario. Puedes leer más sobre cómo utilizamos las cookies en nuestra política de cookies.
    </p>
</div>
{% endblock %}
